<h1>AGREGO DE DATOS</h1>
<form action="/task/add" method="POST">
  <div>
    <label for="title">Escribe la tarea</label>
    <input name="title" placeholder="Tarea..." />
  </div>
  <div>
    <label for="description">Escribe la descripcion</label>
    <input name="description" placeholder="descripcion..." />
    </div>

    <button type="submit">Agregar</button>
</form>